* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f5f5f5;
    color: #4a3f35;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* HEADER */
.header {
    background-color: #8B4513;
    padding: 15px 0;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 50px;
    width: auto;
      border-radius: 50%;
}

.nav-menu {
    display: flex;
    list-style: none;
}

.nav-item {
    margin-left: 25px;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.nav-link:hover {
    color: #FFD700;
}

/* PAGE SECTION */
.page-section {
    flex: 1; /* Makes the section take available space */
    padding: 60px 20px;
    text-align: center;
}

.page-section h2 {
    font-size: 2rem;
    margin-bottom: 30px;
    color: #3e1f15;
}

/* FORM */
form {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

input, textarea {
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #3e1f15;
    font-size: 1rem;
    outline: none;
}

input:focus, textarea:focus {
    border-color: #d4a017;
}


button {
    background: #1e1e1e;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.25s;
}

button:hover {
    background: #d4a017;
    color: #1e1e1e;
}

/* FOOTER */
.footer {
    background-color: #8B4513;
    color: white;
    padding: 25px 20px;
    text-align: center;
}

.footer-brand {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-links {
    margin-bottom: 12px;
}

.footer-link {
    color: #FFD700;
    text-decoration: none;
    margin: 0 10px;
}

.footer-link:hover {
    text-decoration: underline;
}

.footer-copy {
    font-size: 14px;
    color: #f0e8d8;
}


@media (max-width: 768px) {
    .nav-menu {
        flex-direction: column;
        gap: 10px;
    }

    .page-section h2 {
        font-size: 1.5rem;
    }
}